%p
  %label{:for => "gift_title"} Title:
  = f.text_field :title
%p
  %label{:for => "gift_description"} Description:
  = f.text_area :description
%p
  %label{:for => "gift_url"} Url:
  = f.text_field :url
%p
  %label{:for => "gift_price"} Price:
  = f.text_field :price
